<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>users</title>
  </head>
  <body>
    <div class="container">
      <h1>Please SIGN UP here.</h1>
      <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>


    <!-- {% if users %}
    <ol>
      {% for person in users %}
      <li>User Info</li>
      <ul>
        <li>First Name: {{person.firstname}}</li>
        <li>Last Name: {{person.lastname}}</li>
        <li>Email: {{person.email}}</li>
      </ul>
      {% endfor %}
    </ol>
    {% endif %} -->

  </body>
</html>
